@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --bar-height: 90px;
    --color-primary: #36CE83;
    --color-primary-light: #42E695;

    --bg-color: #7577FA;
    --dot-color: #9192FB;


    --dot-size: 2px;
    --dot-space: 22px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    overflow-x: hidden;
    width: 100%;
    font-size: 85%;
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
.header{
   min-height: 100vh;
    background: linear-gradient(75deg, #2BA6AC 0%, var(--color-primary) 55%, var(--color-primary-light) 100%); 
    padding-top: var(--bar-height);
    
}
.hero{
    display: flex;
    margin: 0 1rem;
    
  flex-basis: 100%;
}
.u-centered{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}
section{
    min-height: 60vh;
    position: relative;
    margin-top: -1rem;
}
.bar{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width:100%;
    height: var(--bar-height);
     
}
.bar--bg{
    background: linear-gradient(75deg, #2BA6AC 0%, var(--color-primary) 55%, var(--color-primary-light) 100%); 

}

.bar__content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar__logo{
    height: 80%;
}

.bar__nav-toggle{
    cursor: pointer;
}
.bar__nav-toggle>i{
    color: #ffffff;
    font-size: 2em;
}
#inpNavToggle{
    display: none;
}

#inpNavToggle:checked ~ .nav{
    display: flex;
}
.nav{
    display: none;
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left:0;
    width: 100%;
    height: calc(74vh - var(--bar-height));
    padding: 32px;
    background: #222;
    box-sizing: border-box;
    
}

.nav__link{
    font-weight: 500;
    padding: 16px  0;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__btn{
    display: inline-block;
    font-weight: 500;
    padding: .7rem 2.2rem;
    color: #fff;
    background: linear-gradient(45deg, #ED2775 8%, #FF7448 95%);
    border-radius: 10px;
}
.nav__link:hover{
    opacity: o.8;
}
.hero{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:2rem;
    justify-content: space-between;
}
.hero__information{
    flex: 1 1 20rem;
}
.hero__image{
    flex: 1 1 30rem;
    animation: slideIn 1.5s ease-in-out forwards;
}
.hero__dots{
    display: flex;
    width: 10rem;
    flex-wrap: wrap;
    font-size: 2rem;
    letter-spacing: 1.5rem;
    display: none;
    line-height: 2rem;
    font-weight: 700;
    color: var(--color-primary-light);
    animation: slideIn 1.5s ease-in-out forwards;
}
.hero__htext{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 2rem 1rem;
    width: auto;
    transform: translateY(600px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
.hero__stext{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    animation: slideIn 1.5s ease-in-out forwards;
    color: #fff;
}
.hero__phone{
    margin: 2rem 0;
}
.hero__phone{
    width: 100%;
    position: relative;
}
.hero__input{
    position: relative;
    background-color: #ffffff;
    color: #222 ;
    outline: none;
    border:none;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    font-weight: 600;
    width: 100%;
    font-family: "Montserrat";
    
}
.hero__input:focus{
    border: 2px solid #ED2775;


}
.hero__input::placeholder{
    font-family: "Montserrat";
    display: none;
}
.hero__btn{
    cursor: pointer;
    color: #ffff;
    background: linear-gradient(45deg, #ED2775 8%, #FF7448 95%);
    padding: 1.2rem 2rem;
    font-family: "Montserrat";
    right: .5rem;
    outline: none;
    margin: 2rem 1rem;
    border: none;
    border-radius: 5px;
    transform: translateY(600px);
    animation: slideUp .8s ease-in-out forwards .8s;
}
.heading{
    text-align: center;
    padding: 3rem 0 2rem 0;
    font-size: 3rem;
    font-weight: 700;
    margin: .6rem .6rem;
    color: var(--color-primary-light);
}
.heading__join{
    text-align: center;
    padding: 3rem 0 2rem 0;
    font-size: 2.5rem;
    margin: .6rem .6rem;
    font-weight: 700;
    color: var(--color-primary-light);
}
.box{
flex: 1 1 20rem;
height: 18rem;
position: relative;
overflow: hidden;
margin: 0 1rem
}
.box__image{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.box__desc{
    text-align: center;
    padding: .5rem 0;
    font-weight: 700;
}
.vendors__btn{
    padding: 1rem 2rem;
    width: 13rem;
    text-align: center;
    background: linear-gradient(45deg, #ED2775 8%, #FF7448 95%);
    display: block;
    margin: 3rem auto;
    position: relative;
    font-weight: 700;
    border-radius: .5rem;
    text-transform: capitalize;
    color: white;
}
.vendors__btn i{
   font-size: 1rem;
    padding: 0 .6rem;
}
.slider-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem   ;
    margin: 10px auto 10px -5rem;
}
.slider-btns button{
    position: static !important;
    background-color: #cfcfcf;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    padding: .1rem 1rem;
    margin-top: 2px;

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 3rem;
    gap: 5rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 10rem;
    border-radius: 1.4rem;
    padding: 2rem 2rem 2rem 1rem;
    box-shadow: .1rem .7rem .7rem .7rem rgba(0,0,0,.1);
    gap: 1rem;
    text-align: center;
    background: #f7f7f7;
}
.card__number{
    text-align: center;
    opacity: .5;
    background-color: var(--color-primary);
    padding: 0.6rem 1.7rem;
    color:  #f7f7f7;
    font-size: 3rem;
    border-radius: 50%;
    font-weight: 600;
}
.card__step{
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: .1rem;
}
.card__info{
    line-height: 1.6rem;
    font-weight: 700;
    font-size: .8rem;
}

.downloads{
    background: linear-gradient(45deg, #ED2775 8%, #FF7448 95%);;
}
.container{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 7rem 3rem 3rem 1rem;
}
.downloads__text{
    flex: 1 1 20rem;
}
.text__download{
    font-size: 1rem;
    color: #222;
    font-weight: 800;
    text-transform: uppercase;
}
.text__get{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 700;
    padding: .7rem 0;
}
.text__info{
    font-size: .9rem;
    color: #fff;
    font-weight: 600;
    padding: 2rem 0;
    line-height: 1.5rem;
}
.downloads__image{
 
    flex: 1 1 35rem;
    height: 100%;
}
.download__image{
    width: 120%;
    height: 100%;
    object-fit: cover;
    padding: -2rem 0;
}
.downloads__btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}
.btn__download{
    flex: 1 5rem;
}
.btn__logo{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #262a36;
    padding: 2.5rem;
    width: 100%;
    gap: 1.5rem;
    color: #fff;
}
.footer_img{
    width: 10rem;
}
.footer_img_1{
    width: 100%;
}
.footer__icons{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    flex-wrap: wrap;
}
hr{
    
    color: #cfcfcf;
}
.footer__copyright{
    text-align: center;
    margin-top: 1rem;
}
.footer__icons i{
    padding: .6rem .7rem;
}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
}
.why{
    background: #b4efd3;
    margin-bottom: -2rem;
    min-height: 60vh;
    padding: 3rem 1rem;
}
.container__box{
    display: flex;
    flex-wrap: wrap;margin: 4rem 3rem;
    gap: 5rem;
}

.box__features{
    flex: 1 1 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    box-shadow: .1rem .1rem 1rem rgba(0,0,0,.5);
    padding: .1rem 1rem 1rem 1rem;
    border-radius: .4rem;
    height: auto;
}
.icon__box{
    background:  linear-gradient(75deg, #2BA6AC 0%, var(--color-primary) 55%, var(--color-primary-light) 100%);
    padding: .6rem 1.6rem;
    font-weight: 700;
    border-radius: .2rem;
}
.text__box{
    
    font-weight: 700;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
@media screen and (min-width: 1024px){
    html{
        font-size: 95%;
    }
    .hero{
    display: flex;
    margin: .7rem 5rem 0 10rem;
}
.hero__dots{
    display: initial;
}
.hero__input::placeholder{
    font-family: "Montserrat";
}
.hero__btn{
    margin-top: 3rem;
}
    .bar__nav-toggle{
        display: none;
    }
    .nav{
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }
    .nav__link{
        border-bottom: none;
    }
    .nav__link:not(:last-of-type){
        margin-right: 50px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 7rem 3rem 3rem 10rem;
    }
    .footer__icons i{
        padding: 1rem 1.3rem;
        background-color: #7f838e;
        border-radius: 50%;
    }
    .box__features{
        flex-direction: row;
    }
}

@media screen and (max-width: 765px){
    .hero__image{
        display: none;
    }
    .hero__input::placeholder{
        font-family: "Montserrat";
        display: none;
    }
    
}

@keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  